[submodule "themes/bigspring"]
	path = themes/bigspring
	url = https://github.com/themefisher/bigspring-hugo-startup-theme.git
[submodule "themes/educenter-hugo"]
	path = themes/educenter-hugo
	url = https://github.com/themefisher/educenter-hugo.git
